@use '../colors';
@use '../text';
.main-container {
  margin: auto; }

section * {
  background-color: whitesmoke; }

.category-cart {
  grid-template-rows: auto 200px auto; }

@media screen and (min-width: 1024px) {
  .position-sticky {
    position: sticky;
    height: 100vh;
    top: 0; }
  .max-content {
    height: auto;
    max-height: unset; }
  .category-container {
    grid-template-columns: repeat(3, 1fr); } }
