

.menu-text-close {
    display: none;
}

.menu-text-close.active {
    display: initial;
}

.menu-text.inactive {
    display: none;
}

.transition {
    transition: 1s ease all;
}


@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    .no-desktop {
        display: none;
    }
}