@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap);
.background-white {
  background-color: #fff; }

.background-dark-white {
  background-color: #fff; }

.color-dark-gray {
  color: #313131; }

.color-black {
  color: black; }

.color-gray {
  color: #b9b9b9; }

@use 'colors';
.text-xsmall {
  font: 12px/14px "Roboto Condensed", sans-serif; }

.text-small {
  font: 14px/14px "Roboto Condensed", sans-serif; }

.text-medium {
  font: 18px/18px "Roboto", sans-serif; }

.text-large {
  font: 24px/24px "Roboto Condensed", sans-serif; }

.text-xlarge {
  font: 40px/40px "Roboto Condensed", sans-serif; }

.bolder {
  font-weight: bolder; }

@use '../colors';
@media screen and (min-width: 1024px) {
  .side {
    display: flex !important;
    flex-direction: column;
    align-items: end; }
  .side a {
    display: flex; }
  .cart-icon {
    display: flex;
    align-items: center; }
  .cart-icon:hover {
    cursor: pointer; }
  .side-icon {
    width: max-content; }
    .side-icon .box-icon {
      width: 32px;
      height: 32px;
      padding: 8px; }
    .side-icon .side-svg {
      width: 16px;
      height: 16px;
      fill: black;
      background-color: transparent; }
    .side-icon:hover .box-icon {
      background-color: black;
      border-radius: 50%; }
    .side-icon:hover .side-svg {
      fill: white; } }

.background-white {
  background-color: #fff; }

.background-dark-white {
  background-color: #fff; }

.color-dark-gray {
  color: #313131; }

.color-black {
  color: black; }

.color-gray {
  color: #b9b9b9; }

.menu-bar {
  background-color: #313131;
  border-radius: 1px;
  display: block;
  margin-top: 3.5px;
  height: 2px;
  width: 25px;
  position: relative;
  left: -2px; }

.top-bar, .bottom-bar {
  width: 16px; }

.bottom-bar {
  left: 7px; }

.menu-text-close {
  display: none; }

.menu-text-close.active {
  display: initial; }

.menu-text.inactive {
  display: none; }

@media screen and (min-width: 1024px) {
  .nav-bar {
    flex-direction: column; } }

@use '../colors';
@use '../text';
.shop-now {
  display: grid;
  grid-template-rows: 90% 10%;
  height: 25vh; }

.main-images-container {
  position: relative; }

@media screen and (min-width: 768px) {
  .shop-now {
    position: absolute;
    right: 0.25rem;
    bottom: 0.5rem;
    width: 50%;
    min-height: 200px;
    height: 35vh;
    background: #f5f5f5; } }

@media screen and (min-width: 1024px) {
  .main-images-container {
    max-height: 100vh;
    gap: 0.25rem; }
  .shop-now {
    display: grid;
    position: relative;
    right: initial;
    bottom: initial;
    height: auto;
    width: auto;
    background: none; } }

@use 'text';
@use 'colors';
.main-container {
  margin: auto; }

.category-container * {
  background-color: #f5f5f5; }

.category-cart {
  grid-template-rows: auto 250px auto; }

@media screen and (min-width: 1024px) {
  .top-sticky {
    position: sticky;
    height: 100vh;
    top: 0; }
  #max-content {
    height: auto;
    max-height: unset; }
  .category-container {
    grid-template-columns: repeat(3, 1fr); } }

@use '../colors';
.multiple-images {
  display: none; }

.main-product-info * {
  background-color: #f5f5f5; }

.main-product-info {
  grid-template-rows: repeat(auto-fit, auto);
  row-gap: 0.25rem; }

.activities-list {
  list-style: decimal outside; }

.activities-list li {
  padding-bottom: 0.15rem; }

.add-to-card {
  min-height: 50px;
  background-color: #fff;
  column-gap: 0.25rem; }

.add-to-cart__links {
  background-color: #f5f5f5;
  text-align: center; }

.carousel-inner {
  height: 100%; }

.carousel-control-next,
.carousel-control-prev {
  top: 40%;
  width: 50px;
  height: 50px; }

@media screen and (min-width: 768px) {
  .multiple-images {
    display: grid;
    row-gap: 0.25rem;
    background-color: #fff; }
  .multiple-images img {
    padding: 0.5rem;
    background-color: #f5f5f5; }
  main {
    grid-template-columns: 30% 70%;
    column-gap: 0.25rem; } }

@media screen and (min-width: 1024px) {
  main {
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr;
    row-gap: 0.25rem;
    max-height: 100vh; }
  .multiple-images {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.25rem; }
  #carouselExampleControls {
    max-height: 65vh; }
  .carousel-inner {
    max-height: inherit; }
  .main-product-info {
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    column-gap: 0.25rem;
    grid-template-areas: "price img" "weather img" "activities img" "add-to-cart img"; }
  .image {
    grid-area: img; }
  .price-tag {
    grid-area: price; }
  .weather {
    grid-area: weather; }
  .activities {
    grid-area: activities; }
  .add-to-card {
    grid-area: add-to-cart; } }

* {
  background-color: white;
  box-sizing: border-box; }

a:hover {
  color: initial;
  text-decoration: none; }

html {
  background-color: #f5f5f5; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.main-container {
  margin: auto; }

.desktop-view,
.tablet-view {
  display: none; }

@media screen and (min-width: 768px) {
  .tablet-view {
    display: initial; } }

@media screen and (min-width: 1024px) {
  .desktop-view {
    display: initial; }
  .no-desktop {
    display: none; }
  .main-container {
    max-height: 100vh;
    height: 100vh;
    max-width: 1300px;
    display: grid;
    grid-template-columns: minmax(120px, 10%) 1fr minmax(100px, 10%); } }
